<section class="carousel-section">
  <div class="carousel-container">
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/icons8-cute-frog-100.png?v=1696145975"
      alt="ColorFrog Image"
    >
    <img class="icon_img" src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/cat-butt.png?v=1696147078" alt="cat-butt.png">
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/crab.png?v=1696147078"
      alt="crab.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/heart-with-dog-paw.png?v=1696147078"
      alt="heart-with-dog-paw.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/loch-ness-monster.png?v=1696147078"
      alt="loch-ness-monster.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/seahorse.png?v=1696147078"
      alt="seahorse.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/cat-footprint.png?v=1696147078"
      alt="cat-footprint.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/iaquarium.png?v=1696147078"
      alt="iaquarium.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/pig.png?v=1696147078"
      alt="pig.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/unicorn.png?v=1696147078"
      alt="unicorn.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/cat.png?v=1696147078"
      alt="cat.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/dog-bowl.png?v=1696147078"
      alt="dog-bowl.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/kitty.png?v=1696147078"
      alt="kitty.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/poodle.png?v=1696147078"
      alt="poodle.png"
    >

    <!-- /*----------------*/ -->

    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/icons8-cute-frog-100.png?v=1696145975"
      alt="ColorFrog Image"
    >
    <img class="icon_img" src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/cat-butt.png?v=1696147078" alt="cat-butt.png">
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/crab.png?v=1696147078"
      alt="crab.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/heart-with-dog-paw.png?v=1696147078"
      alt="heart-with-dog-paw.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/loch-ness-monster.png?v=1696147078"
      alt="loch-ness-monster.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/seahorse.png?v=1696147078"
      alt="seahorse.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/cat-footprint.png?v=1696147078"
      alt="cat-footprint.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/iaquarium.png?v=1696147078"
      alt="iaquarium.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/pig.png?v=1696147078"
      alt="pig.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/unicorn.png?v=1696147078"
      alt="unicorn.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/cat.png?v=1696147078"
      alt="cat.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/dog-bowl.png?v=1696147078"
      alt="dog-bowl.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/kitty.png?v=1696147078"
      alt="kitty.png"
    >
    <img
      class="icon_img"
      src="https://cdn.shopify.com/s/files/1/0828/7925/0722/files/poodle.png?v=1696147078"
      alt="poodle.png"
    >
    
  </div>
</section>
<style>
  .carousel-section {
      width: 100%;
      height: 30px;
      overflow: hidden;
      position: relative;
      background-color: #EBD0A0;
      display: flex; /* Center images vertically */
      justify-content: center;
      align-items: center;
      border-top: 0.8px solid #18415e;
      border-bottom: 0.8px solid #18415e;

  }

  .carousel-container {
      display: flex;
      width: 100%; /* Three times the width of the viewport (for three images) */
      animation: scrollImages 20s linear infinite;
      height:60%;
  }

  .icon_img {
      width: auto; /* Adjust the image size as needed */
      height: auto;
      margin-right: 38px; /* Add spacing between images */
      /* filter: invert(27%) sepia(8%) saturate(3639%) hue-rotate(162deg) brightness(92%) contrast(85%); */
  }
    /* this is for scrolling */
  /* @keyframes scrollImages {
      0% {
          transform: translateX(100%);
      }
      100% {
          transform: translateX(-120%);
      }
  } */
</style>

{% schema %}
{
  "name": "Customized Scrolling",
  "settings": [],
  "presets": [
    {
      "name": "Customized Scrolling"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
